body
	margin 0 auto
	color white
	height 100vh
	overflow hidden

main
	height 100%

*
	font-family "Segoe UI", sans-serif
	box-sizing border-box

p
	margin-top 0

a
	@apply transition-colors text-indigo-5

	&:hover
		@apply text-indigo-3
		@media (prefers-color-scheme: light)
			@apply text-indigo-7
	&:active
		@apply text-indigo-6
		@media (prefers-color-scheme: light)
			@apply text-indigo-4
